.sl_callout {
	@extend .callout;
	margin-bottom: $spacing--sm;
	border: none;
	overflow: auto;
	clear: both;
	color: get-color(default);
	background-color: get-color(accent2);
	padding: $spacing--md;
	border-radius: $border-radius;

	&--nobox {
		background: none;
		padding: 0;
		p {
			font-size: 1.625rem;
			font-family: $header-font-family;
			line-height: 1.5;
			color: get-color(default);

			@include breakpoint (small down) {
				font-size: 1.125rem;
			}//end small down breakpoint
		}//end p
	}//end &--nobox

	&--primary {
		background-color: get-color(accent1);
	}//end &--primary

	&--secondary {
		background-color: get-color(secondary);

		& > * {
			color: get-color(inverse);
		}//end & > *
	}//end &--secondary

	&--border {
		border: 1px solid get-color(accent3);
		background: none;
	}//end &--inverse

	&--disclaimer {
		padding: 0;
		p {
			font-size: .875rem;
			line-height: 1.3rem;
			color: get-color(default);
		}//end p
	}//end &--disclaimer

	&--location {
		border: 1px solid get-color(accent3);
		background: none;
		height: 100%;

		@include breakpoint (small down) {
			height: auto
		}//end small down breakpoint

		.xlarge-12 > &, .large-12 > &, .medium-12 > &, .small-12 > &, .xsmall-12 > & {
			height: auto;
		}
	}

	&--card {
		padding: 0 !important;
		overflow: hidden;

		&__media {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			min-height: 300px;

			@include breakpoint (small down) {
				min-height: 200px;
			}//end small down breakpoint
		}//end &__media
		&__content {
			padding: $spacing--lg;

			@include breakpoint (medium only) {
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child
		}//end &__content
	}//end &--card

	&--cta {
		background-color: get-color(accent2);
		padding: $spacing--lg 0;
		border-radius: 0;
		margin: 0;

		.sl_callout__content {
			padding-right: $spacing--xl;

			& > :last-of-type {
				margin-bottom: 0;
			}//end & > :last-of-type

			@include breakpoint (medium down) {
				padding: 0;

				& > :last-of-type {
					margin-bottom: $spacing--sm;;
				}//end & > :last-of-type
			}//end medium down breakpoint
		}//end .sl_callout__content

		.sl_callout__button {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			& > :last-of-type {
				margin-bottom: 0;
			}//end & > :last-of-type
		}//end sl_callout__button

		@include breakpoint (small down) {
			padding: $spacing--lg $spacing--xs;
		}//end small down breakpoint

		p {
			font-size: rem-calc(30px);
			line-height: 1.333;

			@include breakpoint (small down) {
				font-size: 1.75rem;
			}//end small down breakpoint
		}//end p
	}//end &--cta
}//end .sl_callout
