.sl_header {
	position: relative;
	z-index: 999;
	max-width: none;
	box-shadow: $shadow;
	
	// USER NAVIGATION //
	.sl_usernav {
		background-color: get-color(accent2);
		height: 52px;
		display: flex;

		& >  .sl_inner {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
			padding: 0 $spacing--md;
		}//end & > .sl_inner

		&__left {
			flex: 1 1 auto;
			display: flex;
			flex-direction: row;
			align-items: center;
		}//end &__left

		&__phone {
			font-size: 1rem;
			font-weight: $font-weight--semibold;
			padding: 0;
			padding-right: $spacing--sm;

			a {
				color: get-color(default);
			}//end a
		}//end &__phone

		&__right {
			flex: 0 0 auto;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
		}//end &__right

		&__translate {
			& > a {
				color: get-color(default);
				font-size: rem-calc(16px);
				font-weight: $font-weight--semibold;
				padding: 0 $spacing--sm;

				&:hover {
					text-decoration: underline;
					color: get-color(secondary);
				}//end &:hover
			}//end & > a
		}//end &__translate


		&__menu {
			padding-right: $spacing--sm;
			& > .sl_menu {
				background-color: transparent;
				position: static;			

				& > li {
					margin-bottom: 0;
					& > a {
						background-color: transparent;
						color: get-color(default);
						@include transition (.2s all ease-in-out);
						font-size: rem-calc(16px);
						font-weight: $font-weight--semibold;
						position: relative;

						&:hover {
							@include transition (.2s all ease-in-out);
							color: get-color(secondary);
							text-decoration: underline;
						}//end &:hover
					}//end & > a
				}//end & > li
			}//end .sl_menu


		}//end &__menu

		&__search {
			padding: 0;
			padding-left: $spacing--sm;
			@include transition(.3s all ease-in-out);

			.sl_form {
				//Input
				&__input {
					width: 80px;
					height: 40px;
					padding-left: 0;
					padding-right: $spacing--sm;
					box-shadow: none;
					border: none;
					color: get-color(default);
					background: transparent;
					font-size: rem-calc(16px);
					@include transition(.3s all ease-in-out);

					//Place Holder Text
					@include placeholder {
						color: get-color(default);
						font-size: rem-calc(16px);
						font-weight: $font-weight--semibold;
					}//end @include placeholder

					&:active, &:focus {
						width: 120px;
						padding-left: $spacing--xs/2;
						background-color: rgba(get-color(default), .1);
						@include transition(.3s all ease-in-out);
						border: none;
						box-shadow: none;
					}//end &:focus, &:hover, &:active
				}//end &__input

				&__search {
					color: get-color(default);
					width: 14px;
					right: $spacing--xs/2;
				}//end &__search
			}//end .sl_form
		}//end &__search
	}//end .sl_usernav

	// MAIN MENU LARGE //
	.sl_nav {
		background-color: get-color(inverse);
		position: relative;
		max-width: $global-width;
		padding: 0 $spacing--md;
		margin: 0 auto;

		&__left {
			flex: 0 0 100%;
			height: 100%;
			width: 100%;
			max-width: 390px;
			z-index: 1;

			@include breakpoint (large only) {
				max-width: 290px;
			}//end large only breakpoint
		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			padding: $spacing--xs 0;

			img {
				max-height: 50px;

				@include breakpoint (large only) {
					max-height: 37px;
				}//end large only breakpoint
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}//end &__right

		&__menu {
			& > .sl_menu {
				background-color: transparent;
				position: static;

				& > li {
					margin-bottom: 0;
					& > a {
						background-color: transparent;
						color: get-color(primary);
						padding: $spacing--md + .25rem $spacing--sm;
						@include transition (.2s all ease-in-out);
						font-size: 1.125rem;
						font-weight: $font-weight--bold;
						border-radius: $border-radius;
						position: relative;

						&:hover {
							@include transition (.2s all ease-in-out);
							color: get-color(secondary);
							text-decoration: underline;
						}//end &:hover

						@include breakpoint (large only) {
							font-size: 1rem;
							padding: $spacing--md $spacing--sm/2;
						}//end large only breakpoint
					}//end & > a

					//Menu Items with Dropdown
					&.menu-item-has-children {
						& > a {
							&:after {
								@include fontawesome ($content:'\f0d7');
								display: inline-block;
								margin-left: $spacing--xs/2;
								position: static;
							}//end &:after
						}//end & > a
					}//end .menu-item-has-children

					//Current Page 
					&.current_page_item, &.current_page_parent {
						& > a {
							color: get-color(secondary);
							text-decoration: underline;
						}//end & > a
					}//end &.current_page_item

					//Drown Menu 
					&:not(.sl_mega) .is-dropdown-submenu {
							background: get-color(inverse);
							box-shadow: $shadow;
							border: none;
							padding: $spacing--xs 0;

							& > li {
								& > a {
									font-size: 1.125rem;
									color: get-color(primary);
									font-weight: $font-weight--semibold;
									padding: $spacing--xs $spacing--md;
									@include transition (.2s all ease-in-out);

									@include breakpoint (large only) {
										font-size: 1rem;
										padding: $spacing--xs;
									}//end large only breakpoint

									&:hover {
										text-decoration: underline;
										color: get-color(secondary);
										@include transition (.2s all ease-in-out);
									}//end &:hover
								}//end & > a

								&.is-active {
									& > a {
										background-color: rgba(get-color(primary), .1);
										color: get-color(primary);
									}//end & > a
								}//end .is-active
							}//end & > li
						}//end & > .is-dropdown-submenu
				}//end & > li
			}//end .sl_menu
		}//end &__menu
	}//end .sl_nav

	// MOBILE HEADER
	.sl_mobilenav {
		background: none;
		padding: rem-calc(10px) $spacing--xs $spacing--xs rem-calc(10px);
		align-items: center;

		&__left {
			flex: 0 0 100%;
			height: 100%;
			max-width: 240px;
			z-index: 1;
		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			img {
				max-height: 40px;
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			justify-content: flex-end;
		}//end &__right

		&__menu {
			display: flex;
			flex-direction: column;
			align-items: center;
		}//end &__menu

		&__label {
			font-size: 1.125rem;
			color: get-color(primary);
			font-weight: $font-weight--semibold;
			text-align: center;
			display: block;
		}//end &__label
	}//end .sl_mobilenav
}//end .sl_globalheader

//Makes sure the proper menu shows on the screen while js is loading
.no-js {
  @include breakpoint(medium down) {
    .sl_nav {
      display: none;
    }//end .sl_nav
  }//end breakpoint for medium down

  @include breakpoint(large) {
    .sl_mobilenav {
      display: none;
    }//end .sl_mobilenav
  }//end breakpoint for large
}//end .no-js