//MEGA MENU
.sl_megamenu {
	width: auto;
	margin: 0 auto !important;
    left: $spacing--sm !important;
    right: $spacing--sm !important;
    @include container;
    border: none;
    padding: 0;
    border-radius: 0;
    overflow: hidden;

	// SECOND LEVEL MENU
    & > .sl_menu {
    	background: none;
    	padding: $spacing--lg;

    	@include breakpoint (xlarge only) {
    		padding: $spacing--lg $spacing--md;
    	}//end xlarge only breakpoint

    	@include breakpoint (large only) {
    		padding: $spacing--md $spacing--xs;
    	}//end large only breakpoint
    }//end .sl_menu

	.sl_menu > li {
		margin-bottom: 1rem;

		&.sl_cell {
			padding: 0 $spacing--sm;

			@include breakpoint (large only) {
				padding: 0 $spacing--xs/2;
			}//end large only breakpoint

		}//end &.sl_cell
		& > a {
			font-size: 1.125rem;
			font-weight: $font-weight--semibold;
			color: get-color(primary);
			position: relative;
			padding: 0;
			margin-bottom: $spacing--xs/2;
			background: none;
			@include transition (all .3s ease-in-out);

			&:hover {
				@include transition (all .3s ease-in-out);
				color: get-color(secondary);
				text-decoration: underline;
			}//end &:hover

			@include breakpoint (large only) {
				font-size: 1rem;
			}//end large only breakpoint
		}//end a

		& > p {
			opacity: .6;
			max-width: 210px;
			font-size: 1rem;
			line-height: 1.25rem;
			margin-bottom: 0;

			@include breakpoint (large only) {
				font-size: rem-calc(15px);
			}//end large only breakpoint
		}//end p
		
		// THIRD LEVEL MENU
		& > .sl_menu {
			position: static;
			display: flex;
			border: none;
			background: none;
    		box-shadow: none;
    		padding: $spacing--sm 0;
    		flex-direction: row;
    		flex-wrap: wrap;

			& > li {
	    		margin-bottom: 1rem;
	    		padding: 0;
	    		& > a {
					font-size: 1rem;
					font-weight: $font-weight--regular;
					text-decoration: underline;
					color: get-color(default);
					position: relative;
					padding: 0;
					margin-bottom: 0;

					&:after {
						display: none;
					}//end &:after
	    		}//end a
	    	}//end & > li
		}//end .sl_menu
	}//end .sl_menu > li

	//Patients and Vistors Dropdown
	&#sl_mega--PatientsandVisitors {
		// SECOND LEVEL MENU
	    & > .sl_menu {

	    	& > li {
	    		& > a {
	    			text-transform: uppercase;
	    			font-weight: $font-weight--bold;
	    		}//end & > a
	    	}//end & > li
	    }//end .sl_menu

		.sl_menu > li {
	
			// THIRD LEVEL MENU
			& > .sl_menu {
				& > li {
		    		& > a {
		    			font-size: 1.125rem;
						font-weight: $font-weight--semibold;
						color: get-color(primary);
						position: relative;
						padding: 0;
						margin-bottom: $spacing--xs/2;
						background: none;
						text-decoration: none;
						@include transition (all .3s ease-in-out);

						&:hover {
							@include transition (all .3s ease-in-out);
							color: get-color(secondary);
							text-decoration: underline;
						}//end &:hover
		    		}//end a
		    	}//end & > li
			}//end .sl_menu
		}//end .sl_menu > li
	}//end #sl_mega--PatientsandVisitors
	
}//end .sl_megamenu