//OFF-CANVAS MENU
#sl_offcanvas {
	&.sl_mobilemenu {
		border-radius: 0;
		padding: 0;
		background-color: #f6f6f6;
	}//end &.sl_mobilemenu
}//#sl_offcanvas

.sl_mobilemenu {

	.is-drilldown {
		background-color: get-color(inverse);

		.sl_menu {
			background-color: get-color(inverse);
			padding: 0;
			margin-bottom: 0;
			display: block;

			& > li {
				display: block;
				margin-bottom: 0;
				border-top: 1px solid #E6E6E6;

				&:last-of-type {
					border-bottom: 1px solid #E6E6E6;
				}//end &:last-of-type

				& > a {
					color: get-color(primary);
					padding: $spacing--sm;
					padding-right: $spacing--md;
					font-weight: $font-weight--semibold;
					font-size: rem-calc(22px);
					line-height: 1.25;
				}//end & > a

				&.is-drilldown-submenu-parent {
					& > a {
						&:after {
							@include fontawesome($content: '\f054');
							width: auto;
							height: auto;
							border: none;
							right: $spacing--sm;
						}//end &:after
					}//end & > a
				}//end &.is-drilldown-parent

				&.js-drilldown-back {
					border-top: none;
					& > a {
						color: get-color(default);
						font-weight: $font-weight--regular;
						font-size: 1.25rem;

						&:before {
							@include fontawesome($content: '\f053');
							width: auto;
							height: auto;
							border: none;
						}//end &:after
					}//end & > a
				}//end &.js-drilldown-back
			}//end & > li
		}//end .sl_menu
	}//end .is-drilldown

	&__bottom {
		background-color: get-color(accent2);
		padding: $spacing--sm;

		a {
			color: get-color(default);
			padding: $spacing--xs/2 0;
			font-size: 1rem;
			line-height: 1;
			font-weight: $font-weight--semibold;
			display: block;
		}//end a
	}//end &__bottom 

	&__usermenu {
		.sl_menu {
			display: block;

			& > li {
				display: block;

				// & > a {
				// 	color: get-color(default);
				// 	padding: $spacing--sm/2 0;
				// 	font-size: 1rem;
				// 	line-height: 1;
				// 	font-weight: $font-weight--semibold;
				// }//end & a
			}//end & > li
		}//end .sl_menu
	}//end .sl_mobilemenu__usermenu

	&__search {
		position: relative;
		margin-top: $spacing--xs;

		.sl_form {
			//Input
			.sl_form__input {
				height: 44px;
				border: 1px solid #9B9B9B;
				box-shadow: none;
				padding-right: $spacing--md;

				//Place Holder Text
				@include placeholder {
					color: #9B9B9B;
					font-size: 1rem;
				}//end @include placeholder
			}//end &__input

			//Search Button
			.sl_form__search {
				color: get-color(primary);
				font-size: 1.125rem;
				right: $spacing--xs;
			}//end .sl_form__search
		}//end .sl_form
	}//end &__search

	&__header {
		background-color: get-color(inverse);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: rem-calc(10px) $spacing--xs $spacing--sm rem-calc(10px);
	}//end &__header

	&__logo {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;

		img {
			max-height: 40px;
		}//end img
	}//end &__logo
	
	&__close {
		font-size: rem-calc(30px);
		color: get-color(primary);
		text-align: center;

		span {
			font-size: 1.125rem;
			font-weight: $font-weight--semibold;
			display: block;
		}//end span
	}//end &__close
}//end .sl_mobilemenu

//OFF CANVAS OVERLAY
.js-off-canvas-overlay {
	background: rgba(get-color(default), .25);
}