//Default Page Template
body.page-template-default, body.page-template-template-nosidebar, body.page-template-template-contact, body.page-template-template-staff, body.page-template-template-location-group {

	.sl_content {
		border-top: 20px solid get-color(accent1);
		
		&__header {
			min-height: 250px;
			background-size: cover;
			background-position: center bottom;
			background-repeat: no-repeat;

			@include breakpoint (small down) {
				min-height: 125px;
			}//end small down breakpoint
		}//end &__header

		.sl_module__map {
			min-height: 250px;
			@include breakpoint (small down) {
				min-height: 125px;
			}//end small down breakpoint
		}//end .sl_module__map

		&__body {
			padding: $spacing--xxl 0;

			@include breakpoint (large only) {
				padding: $spacing--xxl 0;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: $spacing--xl 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--xl 0;
			}//end small down breakpoint

			& > .sl_inner {
				& > h1 {
					width: 75%;

					@include breakpoint (large only) {
						width: 66.66667%
					}//end large only breakpoint

					@include breakpoint (medium down) {
						width: 100%;
					}//end medium down breakpoint
				}//end h1 
			}//end & > .sl_inner
		}//end &__body

		&__main {
			padding-right: $spacing--xxxl;

			@include breakpoint (large only) {
				padding-right: $spacing--sm;
			}//end large only breakpoint

			@include breakpoint (medium down) {
				padding-right: 0;
			}//end medium down breakpoint
		}//end &__main

	}//end .sl_content
}//end body.page-template-default, body.page-template-template-nosidebar


//LOCATION GROUP TEMPLATE 
body.page-template-template-location-group {
	.sl_location-loop {

		//Locations Page Version
		&__card{
			background-color: get-color(accent2);
			border-radius: $border-radius;
			overflow: hidden;
			margin-bottom: $spacing--md;

			@include breakpoint (small down) {
				margin-left: (-$spacing--xs);
				margin-right: (-$spacing--xs);
			}//end small down breakpoint
		}//end &__card

		.sl_module__map {
			height: 100%;
			min-height: 375px;

			@include breakpoint (small down) {
				min-height: 200px;
			}//end small down breakpoint
		}//end .sl_module__map

		&__image {
			min-height: 375px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;

			@include breakpoint (small down) {
				min-height: 200px;
			}//end small down breakpoint
		}//end &__image

		&__content {

			.sl_card {
				a {
					display: block;
					position: relative;
					padding-left: $spacing--md;
					font-size: 1rem;
					margin-bottom: $spacing--xs/2;
					font-weight: $font-weight--semibold;

					&:before {
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						color: get-color(secondary)
					}//end &:before

					&:last-of-type {
						margin-bottom: 0;
					}//end &:last-of-type
				}//end a

				&__address {
					margin-bottom: $spacing--sm !important;
					color: get-color(default);

					&:before {
						@include fontawesome($content: '\f3c5');
					}//end &:before
				}//end &__address

				&__phone {
					&:before {
						@include fontawesome($content: '\f879');
					}//end &:before
				}//end &__phone

				&__directions {
					&:before {
						@include fontawesome($content: '\f279', $weight: 300);
					}//end &:before
				}//end &__directions

				&__er {
					&:before {
						@include fontawesome($content: '\f2f2', $weight: 400);
					}//end &:before
				}//end &__er

				&__facility {
					&:before {
						@include fontawesome($content: '\f05a');
					}//end &:before
				}//end &__facility

				&__website {
					&:before {
						@include fontawesome($content: '\f35d', $weight: 400);
					}//end &:before
				}//end &__website
			}//end .sl_card
		}//end &__content

		&__address {
			font-size: 1rem;
		}//end &__address

		&__name {
			font-weight: $font-weight--bold;
			margin-bottom: 0;
		}//end &__name

		&__services {
			a {
				font-size: 1.25rem;
			}//end a
		}//end &__services
	
	}//end .sl_location-loop
}//end body.page-template-template-location-group

