body.search {
	.sl_content {
		&__header {
			padding-top: $spacing--xxl;

			@include breakpoint (large only) {
				padding-top: $spacing--xxl;
			}//end large only breakpoint

			@include breakpoint (medium down) {
				padding-top: $spacing--lg;
			}//end medium down breakpoint
		}//end &--header
		
		&__body {
			padding: $spacing--xxl 0;

			@include breakpoint (large only) {
				padding: $spacing--xxl 0;
			}//end large only breakpoint

			@include breakpoint (medium down) {
				padding: $spacing--lg 0;
			}//end medium down breakpoint
		}//end &__body

		&__sidebar {

		}//end &__sidebar

		&__loop {
		}//end &__loop
	}// .sl_content

	.sl_post {
		margin-bottom: $spacing--sm;
		display: block;

		&:hover {
			text-decoration: underline;
		}//end &:hover
	}//end .sl_post

	.sl_pagination {

	}//end .sl_pagination
}//end body.search

//clears the 'X' from IE
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

//clears the 'X' from Chrome
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
