// 1. Default Post Single
// 2. Services Single
//------------------------------


// 1. DEFAULT POST SINGLE

//GLOBAL SINGLE
.single {
	.sl_content {
		border-top: 20px solid get-color(accent1);

		&__header {
			min-height: 250px;
			background-size: cover;
			background-position: center bottom;
			background-repeat: no-repeat;

			@include breakpoint (small down) {
				min-height: 125px;
			}//end small down breakpoint
		}//end &__header

		&__body {
			padding: $spacing--xxl 0;

			@include breakpoint (large only) {
				padding: $spacing--xxl 0;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: $spacing--xl 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--xl 0;
			}//end small down breakpoint

			& > .sl_inner {
				& > h1 {
					width: 75%;

					@include breakpoint (large only) {
						width: 66.66667%
					}//end large only breakpoint

					@include breakpoint (medium down) {
						width: 100%;
					}//end medium down breakpoint
				}//end h1 
			}//end & > .sl_inner
		}//end &__body

		&__main {
			padding-right: $spacing--xxxl;

			@include breakpoint (large only) {
				padding-right: $spacing--sm;
			}//end large only breakpoint

			@include breakpoint (medium down) {
				padding-right: 0;
			}//end medium down breakpoint
		}//end &__main

		.sl_post {
			&__info {
				display: flex;
				margin-bottom: $spacing--md;
				align-items: center;
			}//end &_info

			&__date {
				margin-bottom: 0;
				font-size: rem-calc(14px);
				line-height: 1;
				margin-right: $spacing--md;
			}//end &__date

			&__category {
				display: inline-block;
				font-size: rem-calc(14px);
				font-weight: $font-weight--bold;
				line-height: 1;
			}//end &__category
		}//end .sl_post
	}//end .sl_content
}//end .single

// 2. SERVICES SINGLE
.single-sl_services_cpts {
	.sl_content {

		.sl_locations {
			&__slider {
				margin-top: $spacing--lg;

				.slick-slide {
					margin: 0 $spacing--sm/2;
					height: inherit !important;

					@include breakpoint (small down) {
						margin: 0;
					}//end small down breakpoint
				}//end .slick-slide

				.slick-track {
					display: flex !important;
					margin-left: 0;
				}//end .slick-track

				.sl_card {

					h3 {
						padding: $spacing--sm;
						margin-bottom: 0;
						margin-top: 0;
						font-size: 1.25rem;
						color: get-color(secondary);
						font-weight: $font-weight--bold;
					}//end h3

					&__header {
						min-height: 132px;
					}//end &__header

					&__image {
						height: 140px;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
					}//end .sl_card__image

					&__content {
						padding: $spacing--sm;
					}//end .sl_card__content

					a {
						display: block;
						position: relative;
						padding-left: $spacing--md;
						font-size: 1rem;
						margin-bottom: $spacing--xs/2;
						font-weight: $font-weight--semibold;

						&:before {
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							color: get-color(secondary)
						}//end &:before

						&:last-of-type {
							margin-bottom: 0;
						}//end &:last-of-type
					}//end a

					&__address {
						margin-bottom: $spacing--sm !important;
						color: get-color(default);

						&:before {
							@include fontawesome($content: '\f3c5');
						}//end &:before
					}//end &__address

					&__phone {
						&:before {
							@include fontawesome($content: '\f879');
						}//end &:before
					}//end &__phone

					&__directions {
						&:before {
							@include fontawesome($content: '\f279', $weight: 300);
						}//end &:before
					}//end &__directions

					&__er {
						&:before {
							@include fontawesome($content: '\f2f2', $weight: 400);
						}//end &:before
					}//end &__er

					&__facility {
						&:before {
							@include fontawesome($content: '\f05a');
						}//end &:before
					}//end &__facility

					&__website {
						&:before {
							@include fontawesome($content: '\f35d', $weight: 400);
						}//end &:before
					}//end &__website

				}//end .sl_card
			}//end .sl_locations__slider

			&__slider-controls {
				margin-top: $spacing--md;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
			}//end &__slider-controls

			&__arrows {
				cursor: pointer;
				border: 1px solid get-color(primary);
				color: get-color(primary);
				border-radius: $border-radius;
				background-color: get-color(accent2);
				display: flex;
				width: 44px;
				height: 44px;
				align-items: center;
				justify-content: center;
				font-size: 1.25rem;
			}//end &__arrows

			&__prev {
				margin-right: $spacing--sm/2;
			}//end &__prev

			&__next {
				margin-left: $spacing--sm/2;
			}//end &__next
		}//end .sl_locations

	}//end .sl_content
}//end .single-sl_staff_cpts