{% extends "base.twig" %}

{% block content %}

<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	<section class="sl_content__body">
		{# MODULES #}
		{% if modules %}
		{% for module in modules %}
			{% set mylayout = (module.acf_fc_layout) %}
			{% include 'module-'~mylayout~'.twig' with {this : module} %}
		{% endfor %}
		{% endif %}
		{# END MODULES #}
		
	</section>
</article>
{% endblock %}