{% if menu %}
	<ul class="sl_dropdown sl_menu" data-dropdown-menu>

		{# First Level Menu Item #}
		{% for item in menu %}
			<li class="{{ item.classes | join(' ') }}" {% if item.has_child_class %}data-toggle="sl_mega--{{ item.title|replace({' ': ''}) }}"{% endif %}>
				<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>

				{# Mega Menu #}
				{% if item.has_child_class %}
					{% if 'sl_mega' in item.class %}
					<div id="sl_mega--{{ item.title|replace({' ': ''}) }}" class="sl_dropdown-pane sl_megamenu" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true;">

						{# Patients and Visitors Dropdown #}
						{% if item.title == 'Patients and Visitors' %}
							<ul class="sl_menu sl_row">
				    		{% for child in item.get_children %}
				        		<li class="sl_cell sl_cell--{{child.title}} {{ child.classes | join(' ') }}">
					        		<a target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>
					        		{% if child.description %}<p>{{child.description}}</p>{% endif %}

					        		{# Third Level Menu #}	    
						        	{% if child.has_child_class %}		
									<ul class="sl_menu sl_row">
						        		{% for grandchild in child.get_children %}
						            		<li class="sl_cell sl_cell--{{grandchild.title}} {{ grandchild.classes | join(' ') }}">
							            		<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>				    
						            		</li>
						        		{% endfor %}
									</ul>{# /.sl_menu #}
									{% endif %}
									{# End Third Level Menu#}
								</li>
				    		{% endfor %}
						</ul>{# /.sl_menu #}
						{% else %}
						<ul class="sl_menu sl_row medium-up-4">
				    		{% for child in item.get_children %}
				        		<li class="sl_cell {{ child.classes | join(' ') }}">
					        		<a target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>
					        		<p>{{child.description}}</p>

					        		{# Third Level Menu #}	    
						        	{% if child.has_child_class %}		
									<ul class="sl_menu">
						        		{% for grandchild in child.get_children %}
						            		<li class="{{ grandchild.classes | join(' ') }}">
							            		<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>				    
						            		</li>
						        		{% endfor %}
									</ul>{# /.sl_menu #}
									{% endif %}
									{# End Third Level Menu#}

								</li>
				    		{% endfor %}
						</ul>{# /.sl_menu #}
						{% endif %}

					</div>{# /.sl_megamenu#}
					{# End Mega Menu#}
					{% else %}
					
					<ul class="sl_menu">
			    		{% for child in item.get_children %}
			        		<li class=" {{ child.classes | join(' ') }}">
				        		<a target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>

				        		{# Third Level Menu #}	    
					        	{% if child.has_child_class %}		
								<ul class="sl_menu">
					        		{% for grandchild in child.get_children %}
					            		<li class="{{ grandchild.classes | join(' ') }}">
						            		<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>	    
					            		</li>
					        		{% endfor %}
								</ul>{# /.sl_menu #}
								{% endif %}
								{# End Third Level Menu#}

							</li>
			    		{% endfor %}
					</ul>{# /.sl_menu #}
					{% endif %}
					{# End Drop Down Menu#}	

				{% endif %}
			
			</li>
		{% endfor %}
	</ul>{# /.sl_dropdown.sl_menu #}
{% endif %}

