{% if menu %}
	<div id="sl_offcanvas" class="sl_mobilemenu off-canvas position-right" data-off-canvas>

		<div class="sl_mobilemenu__header">
			{# Logo #}
			<a href="{{ site.url }}" class="sl_mobilemenu__logo">
				{% include "sl_logo.twig" with {'image': option} %}
			</a>{# /.sl_nav__logo #}
			{# Close Button #}
			<button class="sl_mobilemenu__close" type="button" aria-label="Close Menu" data-close>
				<span>Close</span>
				<i class="fal fa-times"></i>
			</button>
		</div>
		
		{# First Level Menu Item #}
		<ul class="sl_menu sl_drilldown" data-drilldown data-auto-height="true">
			{% for item in menu %}
				<li class="{{ item.classes | join(' ') }}">
					<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>

					{# Second Level Menu #}
					{% if item.has_child_class %}
					<ul class="sl_menu sl_nested">
			    		{% for child in item.get_children %}
			        		<li class="{{ child.classes | join(' ') }}">
				        		<a target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>

						        {# Third Level Menu #}			    
					        	{% if child.has_child_class %}		
								<ul class="sl_menu sl_nested">
					        		{% for grandchild in child.get_children %}
					            		<li class="{{ grandchild.classes | join(' ') }}">
						            		<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>				    
					            		</li>
					        		{% endfor %}
									</li>
								</ul>{# /.sl_menu.sl_nested #}
								{% endif %}	
								{# Endn Third Level Menu #}

						</li>
			    		{% endfor %}
					</ul>{# /.sl_menu.sl_nested #}
					{% endif %}		
					{# End Second Level Menu #}		
			{% endfor %}
		</ul>{# /.sl_menu.sl_accordion-menu #}

		
		<div class="sl_mobilemenu__bottom">

			{# User/Utility Nav #}
			<div class="sl_mobilemenu__usermenu">
				{% include "menu/user-menu.twig" with {'user_menu': user_menu.get_items} %}
			</div> {# /.sl_nav__usermenu #}

			<a class="sl_mobilemenu__phone" href="tel:{{option.phone.main}}" style="white-space:nowrap;">{{option.phone.main}}</a>

			{% if option.add_translate == 1 %}
			<div id="sl_translate-mobile" class="sl_mobilemenu__translate">
			</div>{# /.sl_nav__usermenu #}
			{% endif %}

			{# Search #}
			<div class="sl_mobilemenu__search">
				{% include "sl_search.twig" %}
			</div>{# /.sl_nav__search #}
		</div>{# /.sl_mobilemenu__bottom #}

	</div>{# /#sl_mobilemenu #}
{% endif %}
