<a href="{{article.link}}" class="sl_card sl_card--blog">            
    {# Card Image #}
    <div class="sl_card__image" style="background-image: url({% if article.thumbnail %}{{ article.thumbnail.src() }}{% else %}{{site.url}}/wp-content/themes/slate/dist/img/backgrounds/article-image-placeholder.jpg{% endif %})">
    </div>{# /.sl_card__image #}

    {# Card Content #}
    <div class="sl_card__content">
        <h3 class="sl_article__title">{{ article.title|truncate(12) }}</h3>
        <p class="sl_article__date">{{article.date|date("F j, Y")}}</p>
        <p class="sl_article__preview">{{ article.preview.length(25).end(' ...').read_more(false).force }}</p>
    </div>{# /.sl_cell auto.sl_card__content #}
</a>{# /.sl_card.sl_articles__card #}