{% if item == "legitscript" %}
	<div class="sl_cell auto sl_accred sl_accred--ls">
		<script src="https://static.legitscript.com/seals/3417923.js"></script>
	</div>
{% endif %}

{% if item == "joint_commission" %}
	<div class="sl_cell auto sl_accred sl_accred--jc">
		<img class="creds-img" src="{{theme.link}}/dist/img/accreditations/jointcommission-logo.png" alt="Joint Commission" />
	</div>
{% endif %}

{% if item == "naatp" %}
	<div class="sl_cell auto sl_accred sl_accred--naatp">
		<img class="creds-img" src="{{theme.link}}/dist/img/accreditations/naatp-horizontal-color-logo.png" alt="NAATP" />
	</div>
{% endif %}

{% if item == "carf" %}
	<div class="sl_cell auto sl_accred sl_accred--carf">
		<img class="creds-img" src="{{theme.link}}/dist/img/accreditations/carf-logo.png" alt="CARF" />
	</div>
{% endif %}



