//SPACING
$spacing--xs: rem-calc(16px); //16px
$spacing--sm: rem-calc(24px); //24px
$spacing--md: rem-calc(32px); //32px
$spacing--lg: rem-calc(48px); //48px
$spacing--xl: rem-calc(64px); //64px
$spacing--xxl: rem-calc(72px); //72px
$spacing--xxxl: rem-calc(96px); //96px