<div id="sl_footer" class="sl_footer">

    {# Info #}
    <div class="sl_footer__menu">
		<div class="sl_inner">
			<div class="sl_row">
				<div class="sl_cell large-3 sl_footer__contact">
					<h3>{{ bloginfo('name') }}</h3>
					{# ADDRESS #}
					{% include "partials/footer/address.twig" with {phone: 'true'} %}
					<div class="sl_footer__phone">
						<a class="sl_phone__number" href="tel:{{option.phone.main}}" style="white-space:nowrap;">{{option.phone.main}}</a>
					</div> {# /.sl_phone #}
				</div>{# /.sl_cell #}
				<div class="sl_cell large-9 sl_footer__links">

					{# FOOTER MAIN MENU #}
					{% if menu.theme_location != null %}
    					{% include "partials/footer/footer-menu.twig" %}
    				{% endif %}

    				{# FOOTER EXTERNAL LINKS #}
    				{% include "partials/footer/footer-external.twig" %}

					{# SOCIAL ICONS#}
					{% include "partials/footer/social-media.twig"  %}
				</div>{# /.sl_cell #}
			</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</div>{# /.sl_footer__menu #}

	<div class="sl_footer__info">
		<div class="sl_inner">

		{# FOOTER WYSIWYG #}
		{% if option.footer_wysiwyg %}
			{{option.footer_wysiwyg}}
		{% endif %}

		{# FOOTER MAIN MENU #}
		{% if footer_menu.theme_location == 'footer-menu' %}
    		{% include "partials/footer/footer-links.twig" %}
    	{% endif %}

  		{# COPYRIGHT #}
  		<p>&copy; {{ now|date('Y') }} {{ bloginfo('name') }}. All Rights Reserved.</p>
		</div>{# /.sl_inner #}
	</div>{# /.sl_footer__menu#}
</div>{# /.sl_footer #}