{% extends "module.twig" %}

{% block card %}

<script>

    const myCarouselData = [];

</script>

    {% set entryInfo = {
        "loopIndex": loop.index,
        "type": this.type_select,
        "slidesLarge": this.slides_to_show.slides_large,
        "slidesMedium": this.slides_to_show.slides_medium,
        }
    %}

<script>
    var carouselData = {{ entryInfo|json_encode() }};

    myCarouselData.push(carouselData);	    
</script>



{# CARD TYPE #}
{% if this.type_select == "card" %}
    <div  class="sl_slider--{{loop.index}}">
    {% for item in this.carousel %}
        <div class="sl_card sl_card--slide">

            {# CARD IMAGE #}
            {% if item.carousel_image %}
                <div class="sl_card__image" style="background-image: url({{Image(item.carousel_image).src}})"></div>
            {% endif %} 
            

            {# CARD CONTENT - checks to see if card content exists to add content wrapper#}
            {% if item.card.pre_header or item.card.header or item.card.paragraph or item.card.buttons and item.deck_image %}
            <div class="sl_card__content">
            {% endif %}
            {# end checking for content #}
                
                {# PRE HEADER #}
                {% if item.card.pre_header %}
                    <h5>{{ item.card.pre_header }}</h5>
                {% endif %}             
                
                {# HEADER #}
                {% if item.card.header %}
                    <h3>{{ item.card.header }}</h3>
                {% endif %} 
                
                {# WYSIWYG #}
                {% if item.card.paragraph %}
                    {% include "card-paragraph.twig" with { paragraph : item.card.paragraph } %}
                {% endif %} 
                
                {# BUTTONS #}
                {% if item.card.buttons %}
                    {% include "card-button.twig" with { card : item.card } %}
                {% endif %}
            
            {# Checks to see if card content exists to add closing div#}
            {% if item.card.pre_header or item.card.header or item.card.paragraph or item.card.buttons %}
            </div>{# /.sl_card__content #}
            {% endif %}
            {# end checking for content #}

        </div>{# /.sl_card #}
    {% endfor %}
</div>
{% endif %}

{# DUO TYPE #}
{% if this.type_select == "duo" %}
    <div  class="sl_slider-duo--{{loop.index}}">
    {% for item in this.carousel %}
        {# Includes card components #}
        <div class="sl_row">

            {# DUO MEDIA #}
            <div class="sl_carousel--duo__media sl_cell large-auto medium-12 small-12">
                <div class="sl_carousel--duo__media__container">
                    <div class="sl_carousel--duo__image" style="background-image: url({{Image(item.carousel_image).src}})">

                    </div>{# /.sl_carousel--duo__image #}
                </div>{# /.sl_carousel--duo__media__container #}
            </div>{# /.sl_carousel--duo__media #}
            
            {# DUO CONTENT #}
            <div class="sl_carousel--duo__content sl_cell large-auto medium-12 small-12">
                <div class="sl_carousel--duo__card sl_card">

                    {# PRE HEADER #}    
                    {% if item.card.pre_header %}
                        <h5>{{ item.card.pre_header }}</h5>
                    {% endif %}

                    {# HEADER  #}
                    {% if item.card.header %} 
                        <h2>{{ item.card.header }}</h2>
                    {% endif %}
                    
                    {# PARAGRAPH #}
                    {% if item.card.paragraph %}
                        {% include "card-paragraph.twig" with { paragraph : item.card.paragraph } %}
                    {% endif %}
                    
                    {# BUTTONS #}
                    {% if item.card.buttons %}
                        {% include "card-button.twig" with { card : item.card } %}
                    {% endif %}

                </div>{# /.sl_carousel--duo__card.sl_card.sl_card--duo #}
            </div>{# /.sl_carousel--duo__content.sl_cell.auto #}
        </div>{# /.sl_row #}
    {% endfor %}
    </div>

{% endif %}



{% endblock %}