{% extends "module.twig" %}


{% block card %}

<script>
    var myFacilityData = {{json_locations}};

</script>

{% if er_waittimes is defined %}
    <script>
        var myERTimes = {{er_waittimes}}
    </script>
{% else %}
    <script>
        var myERTimes = null;
    </script>
{% endif %}

    
    {% if module.map_only != 1 %}

        <div class="sl_map__filter">
            <div class="sl_map__services">
                <select class="sl_map__select" id="serviceTypeSelect" placeholder="Select a Service">
                    <option value="" disabled selected>Select a Service</option>
                    <option value="All Services">All Services</option>
                    {% for service in services %}
                        <option value="{{service.name}}">{{service.name}}</option>
                    {% endfor %}
                </select>
                 <a href="/services/">View All Services</a>
            </div>{# /.sl_map__services #}

            <div class="sl_map__search">
                <div class="sl_map__zip">
                    <input placeholder="Near" id="sl_map__zip" type="number" pattern="[0-9]*">
                    <div id="sl_map__button"><i class="fas fa-search"></i></div>
                </div>{# /.sl_map__zip #}
                <div id="sl_map__location" class="sl_map__location">Use Current Location</div>
            </div>{# /.sl_map__search #}
       
        </div>{# /.sl_map__filter #}
        
        <div class="sl_map__toolbar">

            <p class="sl_map__count"></p>

            {# MOBILE TOGGLE #}    
            <div class="sl_map__toggle hide-for-medium">
                <div class="sl_map__toggle__list sl_active">List</div>
                <div class="sl_map__toggle__map">Map</div>
            </div>{# /.sl_map__toggle #}
        </div>{# /.sl_map__toolbar #}
    {% endif %}

    <div class="sl_row">
        {% if module.map_only != 1 %}
            <div id="map_content" class="sl_map__content sl_cell large-4 medium-6">
                {# /.loop goes here #}
            </div>{# /.sl_map__content #}
        {% endif %}

        <div class="sl_map__map sl_cell {% if module.map_only == 1 %}large-12 medium-12 {% else %}large-8 medium-6{% endif %}">
            <div class="sl_map__map mapShow" onload="initialize()">
                <div id="sl_map"></div>
            </div>
        </div>
    </div>

    {% if module.button %}
        <div class="sl_map__button">
            <a class="sl_button" href="{{module.button.url}}" target="{{module.button.target}}">{{ module.button.title }}</a>
        </div>{# /.sl_deck__button #}
    {% endif %}

{% endblock %} 