{% extends "module.twig" %}

{% block card %}

    <script>
        var postTypeData = {{json_post_type}};
    </script>

    {% if module.header %}
        <h2>{{module.header}}</h2>
    {% endif %}

    <div class="sl_post_type_search__search">
        <input type="search" placeholder="Search Our Services" class="sl_post_type_search__input" id="sl_input">
        <button type="submit" class="sl_post_type_search__submit" onclick='javascript: window.location.replace("/?s="+ document.getElementById("myInput").value);'>Search</button>

        <div id="sl_dropdown" class="sl_post_type_search__dropdown">
            <div id="sl_dropdown__results" class="sl_post_type_search__dropdown__results">
            {% for service in post_type %}
                <a href="/services/{{service.slug}}/">{{service.post_title}}</a>
            {% endfor %}
            </div>
            <p id="sl_dropdown__noresults" class="sl_post_type_search__dropdown__noresults">No Results</p>
        </div>
    </div>{# /.sl_post-type_search__search #}

    {% if module.add_featured %}
    <div class="sl_post_type_search__featured">

        {% if module.title %}
            <h3>{{module.title}}</h3>
        {% endif %}

        <div class="sl_row large-up-3 medium-up-3 small-up-1">
            {% for item in Post(module.featured) %}
                <div class="sl_cell"> 
                    <a href="/services/{{item.slug}}/">{{item.title}}</a>
                </div>
            {% endfor %}
        </div>
    </div>{# /.sl_post_type_search__featured #}
    {% endif %}

    {% if module.button %}
        <div class="sl_post_type_search__button">
            <a class="sl_button" href="{{module.button.url}}" target="{{module.button.target}}">{{ module.button.title }}</a>
        </div>{# /.sl_deck__button #}
    {% endif %}
{% endblock %}