{% if option.logos %}
	<div class="sl_row sl_footer__logos medium-up-2">

		{# LOOP THROUGH ADDRESSES #}
		{% for logo in option.logos %}
		<div class="sl_cell sl_footer__logo">
			<img src="{{ Image(logo.logo).src }}">
		</div>{# /.sl_cell #}

		{% endfor %}

	</div>{# /.sl_row sl_footer__address #}
{% endif %} 