<ul class="sl_footer__external">
		{% for item in option.external_links %}
			<li>
				<a target="{{ item.link.target }}" href="{{ item.link.url }}">{{ item.link.title }}</a>		
			</li>
		{% endfor %}

</ul>{# /.sl_footer__external #}

