.sl_billboard {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right center;
	background-color: get-color(accent2);
	height: 500px;
	display: flex;
	align-items: center;
	position: relative;
	padding-top: 0 !important;

	&:before {
		@include pseudo;
		top: $spacing--lg;
		bottom: 0;
		left: 0;
		width: 80%;
		background-image: url(#{$path-img}hero-wave-graphic.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left bottom;
		z-index: 1;

		@include breakpoint (small down) {
			top: $spacing--xs;
			background-image: url(#{$path-img}hero-wave-graphic-mobile.svg);
			bottom: 0;
			width: 100%;

			background-position: left top;
		}//end small down breakpoint
	}//end &:before

	&:after {
		@include pseudo;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: linear-gradient(90deg, rgba(get-color(accent1), 1) 20%,  rgba(get-color(inverse), 0) 80%);

		@include breakpoint (small down) {
			background-image: linear-gradient(180deg, rgba(get-color(accent1), 1) 50%,  rgba(get-color(inverse), 0) 80%);
		}//end small down breakpoint
	}//end &:after

	@include breakpoint (medium only) {
		height: 400px;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		min-height: 515px;
		background: get-color(accent2) !important;
		display: block;
		padding: $spacing--lg 0 !important;
	}//end small down breakpoint

	p {
		font-family: $header-font-family;
		font-weight: $font-weight--regular;
		color: get-color(secondary)
	}//end p

	&__background {
		@include breakpoint (small down) {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center 40%;
			position: absolute;
			bottom: 0;
			height: 50%;
			width: 100%;
		}//end small down breakpoint
	}//end &__background

	&__header {
		font-size: rem-calc(100px);
		line-height: 1;
		margin-bottom: 0;
		text-transform: uppercase;

		@include breakpoint (medium down) {
			font-size: rem-calc(65px);
		}//end medium down breakpoint
	}//end &__header

	&__subheader {
		font-size: rem-calc(60px);
		line-height: 1;
		margin-bottom: $spacing--md;
		padding-left: $spacing--xs/2;

		@include breakpoint (medium down) {
			font-size: rem-calc(45px);
		}//end medium down breakpoint
	}//end &__subheader

	.sl_card {
		padding: 0;

		.sl_button-group {
			justify-content: flex-start;
		}//end .sl_button-group

		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child;
	}//end .sl_card
	
}//end .sl_module--billboard