.sl_carousel {
	.sl_inner {
		padding-bottom: rem-calc(20px) + $spacing--sm;

		@include breakpoint (small down) {
			padding-left: 0;
			padding-right: 0;
		}//end small down breakpoint
	}//end .sl_inner

	.slick-track {
		display: flex;
	}//end .slick-track

	.sl_card--slide {
		display: flex;
        flex-direction: column;
        height: auto;
        margin: $spacing--xl $spacing--sm/2 $spacing--xxl;

		@include breakpoint (large only) {
			margin: $spacing--lg $spacing--sm/2 $spacing--xl; 
		}//end large only breakpoint

		@include breakpoint (medium only) {
			margin: $spacing--lg $spacing--xs/2 $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			margin: $spacing--lg $spacing--sm $spacing--lg;
		}//end small down breakpoint
	}//end .sl_card--slide

	&--duo {

		.slick-dots {
	        position: absolute;
	        bottom: rem-calc(-20px) - $spacing--sm;
	        margin: 0;
	        z-index: 1;
	        left: 0;
	        right: 0;
	        text-align: center;

	        li {
	            position: relative;
	            display: inline-block;
	            width: 20px;
	            height: 20px;
	            margin: 0 5px;
	            margin-bottom: 0 !important;
	            cursor: pointer;

	            &:only-of-type {
	            	display: none;
	            }//end &:only-of-type

	            button {
	                background-color: transparent;
	                border-radius: 50%;
	                font-size: 0;
	                line-height: 0;
	                display: block;
	                width: 20px;
	                height: 20px;
	                cursor: pointer;
	                border: 2px solid get-color(primary);
	            }//end button

	            &.slick-active {
	                button {
	                    background-color: get-color(secondary);
	                    border: 2px solid get-color(secondary);
	                }//end button
	            }//end &.slick-active
	        }//end li
	    }//end .slick-dots

		.slick-slide {
			display: flex !important;
		}//end .slick-slide

		&__media {
			min-height: 500px;

			@include breakpoint (medium only) {
				min-height: 450px;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				min-height: 250px;
			}//end small down breakpoint

			&__container {
				position: relative;
				width: 100%;
				height: 100%;
			}//end &__container
		}//end &__media

		&__image {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}//end &__image

		&__content {
			display: flex;
			align-items: center;
			background-color: get-color(accent2);
			max-width: 440px;

			@include breakpoint (medium down) {
				max-width: none;
			}//end medium down breakpoint

			h2 {
				font-family: $body-font-family;
				color: get-color(default);
				font-weight: $font-weight--semibold;
				font-size: rem-calc(30px);

				@include breakpoint (small down) {
					font-size: rem-calc(26px);
					}//end small down breakpoint
			}//end h2

			@include breakpoint (small down) {
				flex: 0 0 auto;
				width: 100%;
			}//end small down breakpoint

			.sl_button-group {
				width: 100%;

				.sl_button {
					width: 100%;
					-ms-flex-negative: 1;
				}//end .sl_button
			}//end .sl_button-group
		}//end &__content

		&__card {
			height: 100%;
			padding: $spacing--xl $spacing--lg;
			position: relative;

			@include breakpoint (small down) {
				padding: $spacing--md $spacing--xs;
				padding-bottom: $spacing--xl;
			}//end small down breakpoint

			& > .sl_button {
				position: absolute;
				bottom: $spacing--sm;
				right: $spacing--lg;
			}//end & > .sl_button
		}//end &__card
	}//&--duo
}//end .sl_carousel
