.sl_deck {
	.sl_inner {
		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint
		& > h2 {
			text-align: center;

			@include breakpoint (small down) {
				padding: 0 $spacing--xs;
			}//end small down breakpoint
		}//end & > h2
	}//end .sl_inner

	&__button {
		text-align: center;
		padding-top: $spacing--md;
	}//end &__button

	.sl_row {

		& > .sl_cell {
			padding: 0 $spacing--md/2;

			@include breakpoint (medium only) {
				padding: 0 $spacing--xs/2;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: 0;

				&:not(:last-of-type) {
					margin-bottom: $spacing--lg;
				}//end &:not(:last-of-type);
			}//end small down breakpoint
		}//end .sl_cell

		&--icon {
			max-width: $global-width;
			padding: 0 $spacing--xs;
			margin: 0 auto;

			& > .sl_cell {
				padding: 0 rem-calc(2.5px);

				@include breakpoint (medium down) {
					margin-bottom: 0 !important;
					padding: 0 rem-calc(2.5px) rem-calc(2.5px);
				}//end medium down breakpoint
			}//end .sl_cell

			a {
				&:hover {
					text-decoration: underline;
				}//end &:hover
			}//end a
		}//end &--icon

		@include breakpoint (medium only) {
			&.medium-up-1 {
				& > .sl_cell {
					margin-bottom: $spacing--sm;
				}//end & > .sl_cell
			}//end &.medium-up-1
		}//end medium only breakpoint
	}//end .sl_row

	&--callouts {
		.sl_inner {
			@include breakpoint (small down) {
				@include innerpadding;
			}//end small down breakpoint
		}//end .sl_inner

		.sl_cell {
			@include breakpoint (small down) {
				&:not(:last-of-type) {
					margin-bottom: $spacing--xs;
				}//end &:not(:last-of-type);
			}//end small down breakpoint
		}//end .sl_cell

		.sl_card {
			background-color: get-color(primary);
			@include transition(all .3s ease-in-out);

			&:hover {
				background-color: darken(get-color(primary), 5%);
				text-decoration: underline;
				@include transition(all .3s ease-in-out);
			}//end &:hover

			&__content {
				padding: $spacing--lg;
				direction: flex;
				align-items: center;
				text-align: center;;

				@include breakpoint (medium down) {
					padding: $spacing--sm;
				}//end medium down breakpoint
			}//end &__content

			h3 {
				font-size: 2.5rem;
				font-weight: $font-weight--regular;

				@include breakpoint (medium down) {
					font-size: 1.875rem;
				}//end medium down breakpoint
			}//end h3

			& * {
				color: get-color(inverse);
			}//end & *
		}//en d.sl_card
	}//end &--callouts
}//end .sl_deck