.sl_location {
	& > .sl_inner {
		max-width: none;
		padding: 0;
		& > .sl_row {
			background-color: get-color(accent2);
			border-radius: $border-radius;
			overflow: hidden;
		}//end & > .sl_row
	}//end & > .sl_inner

	.sl_module__map {
		height: 100%;

		@include breakpoint (small down) {
			min-height: 215px;
		}//end small down breakpoint
	}//end .sl_module__map

	&__content {
		max-width: $global-width/2;
		margin-left: auto;

		.sl_phone {
			font-weight: $font-weight--semibold;
		}
	}//end &__content

	&--shortcode {
		padding: $spacing--sm 0;
		.sl_location__content {
			background-color: get-color(accent2);
		}

		.sl_card--location {
			padding: $spacing--lg;
		}
	}
	
}//end .sl_location