.sl_map {
	background-color: get-color(accent2);
	padding-top: $spacing--md;
	padding-bottom: $spacing--xs;

	& > .sl_inner {
		padding: 0;
	}//end & > .sl_inner

	&__toolbar {
		padding: 0 $spacing--sm $spacing--xs/2;
		@include breakpoint (small down) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}//end small down breakpoint
	}//end &__toolbar

	&__count {
		font-size: 1rem;
		margin-bottom: 0;

		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint
	}//end &__count

	&__toggle {
		display: flex;
		align-items: center;

		& > div {
			padding: rem-calc(10px);
			background-color: rgba(get-color(default),.15);
			font-size: rem-calc(14px);
			color: get-color(primary);
			line-height: 1;
			font-weight: $font-weight--semibold;
			cursor: pointer;

			&.sl_active {
				background-color: get-color(inverse);
				border: 1px solid get-color(default);
				color: get-color(default);
			}//end .sl_active
		}//end & > div

		&__list {
			&:before {
				@include fontawesome($content: '\f03a', $weight: 400);
				margin-right: $spacing--xs/3;
				display: inline-block;
			}//end &:before
		}//end &__list

		&__map {
			&:before {
				@include fontawesome($content: '\f3c5');
				margin-right: $spacing--xs/3;
				display: inline-block;
			}//end &:before
		}//end &__map
	}//end &__toggle

	&__filter {
		display: flex;
		flex-direction: row;
		max-width: 650px;
		margin-bottom: $spacing--xs;
		padding: 0 $spacing--sm;

		@include breakpoint (small down) {
			flex-direction: column;
			padding: 0 $spacing--xs;
		}//end small down breakpoint
	}//end &__filter

	&__services {
		margin-right: $spacing--md;
		width: 60%;

		@include breakpoint (small down) {
			width: 100%;
			margin-right: 0;
			margin-bottom: $spacing--xs;
		}//end small down breakpoint

		a {
			font-size: 14px;
			font-weight: $font-weight--semibold;
			text-align: right;
			display: block;

			&:hover {
				color: get-color(secondary);
				text-transform: underline;
			}//end &:hover
		}//end a
	}//end &__services

	&__select {
		height: 50px;
		border-radius: 0;
		border: 1px solid #9B9B9B;
		margin-bottom: $spacing--xs/2;
	}//end &__select

	&__search {
		width: 40%;

		@include breakpoint (small down) {
			width: 100%;
		}//end small down breakpoint
	}//end &__search

	&__zip {
		position: relative;

		input {
			height: 50px;
			border-radius: 0;
			border: 1px solid #9B9B9B;
			margin-bottom: $spacing--xs/2;
			padding-right: $spacing--xs + rem-calc(20px);

			/* Chrome, Safari, Edge, Opera */
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
			  -webkit-appearance: none;
			  margin: 0;
			}

			/* Firefox */
			&[type=number] {
			  -moz-appearance: textfield;
			}
		}//end input

		#sl_map__button {
			position: absolute;
			right: $spacing--xs;
			top: calc(50% - 11.5px);
			font-size: 1.25rem;
			color: get-color(primary);
			line-height: 1;
			cursor: pointer;
		}//end #sl_map__button
	}//end &__zip

	&__location {
		font-size: 14px;
		color: get-color(primary);
		font-weight: $font-weight--semibold;
		cursor: pointer;
		text-align: right;
		@include transition (all .3s ease-in-out);

		&:hover {
			color: get-color(secondary);
			text-decoration: underline;
			@include transition (all .3s ease-in-out);
		}//end &:hover
	}//end &__location

	&__card {
		margin-bottom: $spacing--sm/2;
	}//end

	.sl_card {

		&__header {
			display: flex;
			justify-content: space-between;
		}//end &__header

		h3 {
			font-size: rem-calc(22px);
			color: get-color(secondary);
			font-weight: $font-weight--bold;
		}//end h3

		&__distance {
			font-size: 1rem;
			flex: 0 0 auto;
		}//end &__distance

		&__image {
			min-height: 90px;
			border-radius: $border-radius;
			width: 160px;

			@include breakpoint (medium only) {
				width: 130px;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				width: 140px;
			}//end small down breakpoint
		}//end &__image

		&__location {
			& > .sl_row {
				margin-bottom: $spacing--xs;
				justify-content: space-between;
			}//end & > .sl_row

			padding-bottom: $spacing--sm;
			border-bottom: 1px solid get-color(accent3);
		}//end &__location

		&__links {
			display: flex;
			flex-flow: row wrap;
			padding: $spacing--sm 0;
			border-bottom: 1px solid get-color(accent3);

			& > a {
				width: 50%;
				display: block;
				position: relative;
				padding-left: $spacing--md;
				font-size: 1rem;
				margin-bottom: $spacing--xs/2;
				font-weight: $font-weight--semibold;

				&:before {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					color: get-color(secondary);
				}//end &:before

				&:last-of-type {
					margin-bottom: 0;
				}//end &:last-of-type
			}//end a
		}//end &__links

		&__address {
			color: get-color(default);
			font-weight: $font-weight--semibold;
			padding-right: $spacing--xs;
			flex: 1 1;
		}//end &__address

		&__waittime {
			background-color: #f6f6f6;

			p {
				font-weight: $font-weight--bold;
				font-size: 16px;
				margin-bottom: 0;
				padding-left: 9px;
			}
		}

		&__facility {
			font-weight: $font-weight--semibold;
		}//end &__facility

		&__phone {
			&:before {
				@include fontawesome($content: '\f879');
			}//end &:before
		}//end &__phone

		&__directions {
			&:before {
				@include fontawesome($content: '\f279', $weight: 300);
			}//end &:before
		}//end &__directions

		&__er {
			&:before {
				@include fontawesome($content: '\f2f2', $weight: 400);
			}//end &:before
		}//end &__er

		&__website {
			&:before {
				@include fontawesome($content: '\f35d', $weight: 400);
			}//end &:before
		}//end &__website

		&__services {
			list-style: none;
			margin: 0;
			padding-top: $spacing--sm;

			.accordion-item {

				& > .accordion-title {
					padding: 0;
					border: none;
					display: inline-block;
					padding-right: $spacing--md;
					font-size: 1.125rem;
					font-weight: $font-weight--semibold;
					color: get-color(default);
					background: none !important;

					&:before {
						right: 0;
						color: get-color(primary);
						@include fontawesome($content: '\f0fe', $weight: 400);
					}//end &:before
				}//end .accordion-title

				& > .accordion-content {
					border: none;
					padding: 0;
					padding-top: $spacing--xs;
					font-size: 1rem;

					a {
						font-weight: $font-weight--semibold;
					}//end a
				}//end & > .accordino-content

				&.is-active {
					& > .accordion-title {
						background: none;

						&:before {
							@include fontawesome($content: '\f146', $weight: 400);
						}//end &:before
					}//end .accordion-title
				}//end &.is-active
			}//end .accordion-item
		}//end &__services
	}//end .sl_card

	&__content {
		height: 870px;
		padding: 0 $spacing--sm/2;
		overflow-y: scroll;

		@include breakpoint (small down) {
			height: auto;
		}//end small down breakpoint
	}//end &__content

	&__map {
		@include breakpoint (small down) {
			display: none;
		}//end small down breakpoint
	}//end &__map

	&__button {
		text-align: center;
		padding-top: $spacing--md;
	}//end &__button

	#sl_map {
		height: 870px;

		@include breakpoint (small down) {
			height: 500px;
		}//end small down breakpoint
	}//end #sl_map

	&--map-only {
		background: none;

		.sl_map__map {
			@include breakpoint (small down) {
				display: block;
			}//end small down breakpoint
		}//end .sl_map__map

		#sl_map {
			height: 500px;
		}//end #sl_map
	}//end &--map-only
}//end .sl_map