.sl_post_type_search {
    z-index: 2;
    position: relative;

    & > .sl_inner {
        @include breakpoint (small down) {
            padding: 0;
        }//end small down breakpoint
    }//end & > .sl_inner

    h2 {
        text-align: center;
        margin-bottom: $spacing--md;
        font-size: rem-calc(60px);

        @include breakpoint (medium only) {
            font-size: 3rem;
            }//end medium only breakpoint

        @include breakpoint (small down) {
            font-size: rem-calc(30px);
            padding: 0 $spacing--xs;
            margin-bottom: $spacing--md;
        }//end small down breakpoint
    }//end h2

    &__search {
        position: relative;
        background-color: get-color(accent2);
        padding: $spacing--md;
        border-radius: $border-radius;
        max-width: 660px;
        margin: 0 auto;
        display: flex;

        @include breakpoint (small down) {
            padding: $spacing--xs;
        }//end small down breakpoint
    }//end &__search

    &__input {
        height: 60px;
        border: 1px solid #9B9B9B;
        margin-bottom: 0;
        border-radius: $border-radius 0 0 $border-radius;
        padding: $spacing--xs;

        //Place Holder Text
        @include placeholder {
            color: get-color(default);
            font-size: rem-calc(18px);
        }//end @include placeholder
    }//end &__input

    &__submit {
        background-color: get-color(primary);
        color: get-color(inverse);
        font-weight: $font-weight--bold;
        border-radius: 0 $border-radius $border-radius 0;
        padding: 0 $spacing--sm;
        font-size: 1.125rem;
        cursor: pointer;
    }//end &__submit

    &__dropdown {
        position: absolute;
        max-height: 500px;
        overflow-y: scroll;
        display: none;
        top: $spacing--lg + rem-calc(60px);
        left: $spacing--lg;
        right: $spacing--lg;
        background-color: get-color(inverse);
        padding: $spacing--sm 0;
        border-radius: 0 0 $border-radius $border-radius;
        box-shadow: $shadow;

        &__results {
            & > a {
                display: block;
                color: get-color(default);
                font-size: 1.125rem;
                font-weight: $font-weight--semibold;
                padding: $spacing--xs/2 $spacing--sm;
                @include transition(all .2s ease-in-out);

                &:hover {
                    background-color: get-color(accent1);
                    color: get-color(primary);
                    @include transition(all .2s ease-in-out);
                }//end &:hover
            }//end & > a
        }//end &__results

        &__noresults {
            margin-bottom: 0;
            font-style: italic;
            font-size: 1.125rem;
            font-weight: $font-weight--semibold;
            padding: $spacing--xs/2 $spacing--sm;
        }//end &__noresults
    }//end &__dropdown

    &__featured {
        padding-top: $spacing--xl;
        max-width: 900px;
        margin: 0 auto;

        @include breakpoint (small down) {
            padding: $spacing--xs;
        }//end small down breakpoint

        h3 {
            text-align: center;
            margin-bottom: $spacing--md;
            font-family: $header-font-family !important;
            font-size: rem-calc(30px);

            @include breakpoint (small down) {
                display: none;
            }//end small down breakpoint
        }//end h3

        a {
            font-size: 1.25rem;
            font-weight: $font-weight--semibold;
            display: block;
            margin-bottom: $spacing--xs;

            &:hover {
                color: get-color(secondary);
                text-decoration: underline;
            }//end &:hover
        }//end a
    }//end &__featured

    &__button {
        padding-top: $spacing--lg;
        text-align: center;

        @include breakpoint (small down) {
            padding: $spacing--sm $spacing--xs 0;
        }//end small down breakpoint
    }//end &__button
}//end .sl_post_type_search