.sl_wysiwyg {
	.sl_inner {
		.sl_card {
			padding: 0;
			margin: 0 auto;

			h1 {
				@include breakpoint (small down) {
					font-size: 2rem;
					line-height: 1.25;
				}//end small down breakpoint
			}//end h1
		}//end .sl_card
	}//end .sl_inner
}//end .sl_wysiwyg