{% extends "base.twig" %}

{% block content %}

{# Check for Featured Image #}
{% if post.thumbnail %}
	<div class="sl_content__header" style="background-image: url({{ post.thumbnail.src() }}">
	</div>	
{% endif %}

{# Breadcrumbs #}
<div class="sl_inner show-for-medium">
	{{ function('get_breadcrumb') }}
</div>

<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	<section class="sl_content__body">
		<div class="sl_inner">

			<h1>{{post.title}} in Reno, Nevada</h1>

			<div class="sl_row">
				<div class="sl_cell xlarge-9 large-8 sl_content__main">

					<main id="main" class="sl_main">
						{{post.content}}

						{% if sanity_locations != null %}
						<h2>Our Locations</h2>
						{% if post.meta('locations').content %}
							{{ post.meta('locations').content|wpautop }}
						{% endif  %}
						{% include "services/services-locations.twig" %}
						{% endif %}
					</main>{# /.sl_main #}
				</div>{# /.sl_cell.large-8.xlarge-9 #}

				<div class="sl_cell xlarge-3 large-4 show-for-large sl_content__sidebar">
					<div data-sticky-container class="sl_sidebar">
						<div data-sticky class="sl_sidebar__container sl_sticky"  data-anchor="main">
							{% include "sidebar.twig" with {'menu': menu.get_items} %}
						</div><!-- end #sidebarcontent -->
					</div><!-- end sticky container -->
				</div>{#  /.sl_cell.large-4.xlarge-3.show-for-medium #}

			</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</section>{# /.sl_content--body #}

	{% if post.meta('callout').content or option.global_cta.content %}
		<div class="sl_callout sl_callout--cta">
			<div class="sl_inner">
				<div class="sl_row">
					<div class="sl_cell xlarge-9 large-8 sl_callout__content">
						{% if post.meta('callout').content %}
						{{ post.meta('callout').content|wpautop }}
						{% elseif option.global_cta.content %}
						{{ option.global_cta.content|wpautop }}
						{% endif %}
					</div>{# /.sl_callout__content #}
					<div class="sl_cell xlarge-3 large-4 sl_callout__button">
						{% if post.meta('callout').buttons %}
							{% include "card-button.twig" with { card : post.meta('callout') } %}
						{% elseif option.global_cta.buttons %}
							{% include "card-button.twig" with { card : option.global_cta } %}
						{% endif %}
					</div>{# /.sl_callout__button #}
			</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	{% endif  %}
</article>{# /.post-type-{{post.post_type}} #}
{% endblock %}


